body {
  background-image: url("https://c1.staticflickr.com/8/7335/26826408472_71e3998f8d_b.jpg" );
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  -o-background-size: 100%;
  padding-top: 25px;
  margin-top: 100px;
  position: relative;
  font-family: 'Unica One', cursive;
  color: white;
  font-weight: bold;
  height: 100vh;
}

/*width="1024" height="681" alt="cupofcoffee" may belong in the image url*/
.wholepagebkgd{
   /* background: url("https://c1.staticflickr.com/8/7335/26826408472_71e3998f8d_b.jpg" width="1024" height="681" alt="cupofcoffee");*/
   /*background-color: orange;*/
  text-align: center;
}

.navbar-inverse{
  font-family: 'Montserrat', sans-serif;
  margin: auto;

}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
  color:#3B81BF;
  font-size: larger;
}

.navbar-inverse .navbar-nav>li>a {
  color: #3B81BF;
}

.dropdown{
  color: #3B81BF;
  text-transform:uppercase;
}

.dropdown-menu>li>a{
  color: #3B81BF;
  text-transform:uppercase;
}

.Twtbtn{
  padding: 3px;
  margin: 5px;
  border-radius: 7px;
  background-color: black;
  border-color: black;
}

.btn-navbar{
  background-color: #f0641f;
  color: black;
}

button{
  font-family: 'Karla', sans-serif;
  margin:20px;
  border-radius: 5px;
}

.presented-quote {
  background-color: grey;
  /*filter: blur(5px); I can blur the background */
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  margin-top: 25px;
  padding: 15px;
  border-color: turquoise;
  border-style: solid;
  border-radius: 7px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#refreshBtn {
  color: black;
}

.container{
  color: white;
  width: 100%;
}

h1{
  margin-left: auto;
  margin-right: auto;
  width: 60%
}
